@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

Operating system: @Model.CurrentOperatingSystem <br>
Host: @Model.CurrentHostName <br>
IP Address: @Model.CurrentIpAddress <br>